{% extends 'layout.html' %}


{% block body %}
<div class="jumbotron text-center">
  <h1>mattching between HTML and CSS</h1>
  <h2>simply</h2>
  <p class="lead">when we want to build an html page and make it's style from css file we should make two files,first one is "css file"
and the secound is the "html file',we need to put all styles in css file as class so we can use it in html file by this
link :
(link rel="stylesheet" href="styles.css")
and this link we should put it in the (head) in html code</p>
  
</div>
{% endblock %}