{% extends 'layout.html' %}


{% block body %}
<style>
  .div-1 {
      background-color: #EBEBEB;
  }
  
</style>

<body>
  <div class="jumbotron text-center">
  <div class="div-1"> <h1>Getting Started with HTML</h1>
  
    <p class="lead">html relies on "tags",you have to learn about this tags...like:
      <ul>
        <li> each html code should start with this tag (html) </li>
        <li> to add title you should use (title) </li>
        <li> (body)to add the main information </li>
        <li> (p) to add a paragraph </li>
        </ul>
    </p>
    </div> 
  </div>
</body>
{% endblock %}
<img src="https://picsum.photos/300/200" alt="" class="card-img-top">